@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Jost', sans-serif;
}

#front-page-container {
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "aside" 
                         "footer";
    grid-template-columns: 1fr;
}

header{
    grid-area: header;
}

main{
    grid-area: main;    
}

aside {
    grid-area: aside;
}

footer{
    grid-area: footer;
}


header nav h3 {
    float: left;
  }

header nav ul{
    float:right;

}

header nav ul li{
    display: inline-block;
    margin: 0 0.5rem;
}

header nav a{
    color:#fff9f9;
    text-decoration: none;
    
}

header nav ul li a:hover{
    text-decoration: underline;
}

nav{
    overflow: auto;
    background-color: #252227;
}
#logo {
    padding: 2rem;
    overflow: auto;

}
nav ul {
    padding: 2rem;
    overflow: auto;

}
#front-page-container{
    max-width: 100%;
}

#bilde-navn{
    position: absolute;
    top: 38%;
    left: 50%;
  transform: scale(2);
}
#bilde-navn1{
    position: absolute;
    top: 43%;
    left: 49.5%;
  transform: scale(1);
}

#slideshow {
    width: 125%;

    
}
.Slides {
    height: 35rem;
    width: 100%;
    object-fit:cover;

}
#slideshow:hover { 
    background: transparent;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 2px;



}



#buttonRight{
    cursor: pointer;
    position: absolute;
    top: 42%;
    left: 95%;
    width: auto;
    margin-top: -22px;
    padding: 10px;
    transition: background-color 0.2s;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 14px;
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;


}


#buttonLeft{
    cursor: pointer;
    left: 1%;
    position: absolute;
    top: 42%;
    width: auto;
    margin-top: -22px;
    padding: 10px;
    transition: background-color 0.2s;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 14px;
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
}
#buttonLeft:hover, #buttonRight:hover {
    border-color: #dadce0;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 2px;
    color: #000000;
    background: transparent;
}






main{
    width: 80%;
    float: left;
}

/*laget en klasse som brukes på arikklene på innholdssidene*/
.article-content{
    width: 80%;
    
}

main article{
    /*endret vidde bredde fra hva vi gjorde 05.08*/
    max-width: 250px;
    background-color: #252227;
    color: #ffffff;
    width: 100%;
    float: left;
    border: 1px solid #d9d9d9;
    padding: 1rem;
    margin:0.5rem;
    border-radius: 1rem;
    
}

/*la til bredcrumbs og fjernet default CSSS på ul elementet med id breadcrumbs*/
#breadcrumbs{
    padding: 0;
    margin: 0;
}

#breadcrumbs li{
    display: inline-block;    
}

#breadcrumbs li::after {
    content: ">";
}

#breadcrumbs li:last-child::after {
    content: "";
}


aside{
    width: 20%;
    float: left;
}

footer{
    clear: both;
    background-color: rgb(80, 80, 80);
    color: #fff;
    padding: 3rem 2rem;
}





